language: node_js
node_js:
  - "10.0"
install:
  - npm i -g npm
  - npm i -g firebase-tools
  - npm ci
script:
  - firebase deploy -m "$TRAVIS_COMMIT" --only hosting,functions --token "$FIREBASE_TOKEN" --force
branches:
  only:
    - master
