language: node_js
node_js:
  - "8"
cache:
  directories:
    - $HOME/.cache/yarn
    - node_modules
    - .next/cache
install:
  - npm i -g npm
  - npm i -g firebase-tools
  - npm ci
script:
  - firebase deploy -m "$TRAVIS_COMMIT" --token "$FIREBASE_TOKEN" --force
branches:
  only:
    - master
