.ais-Highlight-highlighted {
  color: #f50057;
  font-style: initial;
}
.ais-Snippet-highlighted {
  color: #f50057;
  font-style: initial;
}

.highlighted-text {
  color: #f50057;
  font-style: initial;
}

.firebaseui-idp-list {
  margin: 0 !important;
}
