/* Algolia highlights */
.ais-Highlight-highlighted {
  color: #f50057;
  font-style: initial;
}
.ais-Snippet-highlighted {
  color: #f50057;
  font-style: initial;
}
.highlighted-text {
  color: #f50057;
  font-style: initial;
}
.firebaseui-idp-list {
  margin: 0 !important;
}

/* Progress bar */
#nprogress {
  pointer-events: none;
  z-index: 1031;
}
#nprogress .bar {
  background: #91dd64;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #91dd64, 0 0 5px #91dd64;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

/* FirebaseUI */
.firebaseui-container {
  font: inherit !important;
}
.firebaseui-container .firebaseui-list-item {
  margin-bottom: 16px !important;
}
.firebaseui-container .firebaseui-idp-button {
  border-radius: 4px;
  max-width: none;
  min-height: 64px;
  border: 2px solid transparent;
}
.firebaseui-container .firebaseui-idp-button:hover {
  border-color: white;
}
.firebaseui-container .firebaseui-idp-button:hover .firebaseui-idp-text {
  font-weight: 700;
}
.firebaseui-container .firebaseui-idp-button .firebaseui-idp-text {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}
.firebaseui-container .firebaseui-tos {
  margin-bottom: 0;
}

/* Carbon ads */
#carbonads {
  display: block;
  padding: 8px 8px 8px 142px;
  overflow: hidden;
  max-width: 346px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 4px;
}
#carbonads .carbon-img {
  float: left;
  width: 130px;
  height: 100px;
  margin-left: -130px;
  margin-right: 12px;
  background-color: hsl(0, 0%, 98%);
}
#carbonads img {
  vertical-align: middle;
}
#carbonads a,
#carbonads a:hover {
  color: #fff;
  text-decoration: none;
}
#carbonads .carbon-text {
  display: block;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}
#carbonads .carbon-poweredby {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  font-size: 0.75rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}
